@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

/* vertical scroll */

.ex1{
    width: 100%;
    height: 560px;
    overflow-y:hidden;
    overflow-x: scroll;
  }

/*Animationen*/

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.delay-400 {
    animation-delay: .4s;
}

.delay-300 {
    animation-delay: .3s;
}

.delay-200 {
    animation-delay: .2s;
}

.delay-100 {
    animation-delay: .1s;
}

.break {
    height: 100px;
  }

.breaksmall{
    height: 20px;
  }
  
:root {
    font-size: 16px;
}

body {
    /* background-color: #242e37; */
    color: white;
    transition: background-image 0.5s linear;
    background-color: #0F1217;
    margin: 0;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1px solid rgb(253, 247, 247);
}

/*große Überschrift*/

h1 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 2.441rem;
    padding-bottom: 5%;
}

/*Projekt name */

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.953rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 23px;
}

/*unter Überschrift */

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.563rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -.022em;
}

/*Überschrift beschreibung*/

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.563rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -.022em;
}

/*Fließtext*/
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.563rem;
    line-height: 1.5;
    margin: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 24px;
}

p1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
     margin: -1px; 
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-fluid {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.img80 {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.videoformat{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* Navbar*/

.navbar{
    margin-top: 4px;
}

.navbar-nav {
    text-align: right;
}

nav ul li {
    padding-right: 20px;
}

nav ul li a {
    color: rgb(167, 164, 164);
    font-size: 20px;
}

nav .navbar-nav>.active>a {
    color: #FFD74A;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: rgb(255, 216, 74);
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 216, 74);
    font-family: 'Roboto Slab', serif;
}

.navbar-nav .nav-item:hover .nav-link-disable {
    color: rgba(95, 95, 95);
    font-family: 'Roboto Slab', serif;
    
}

.nav-link {
    display: block;
    padding: 0;
}

.responsive {
    width: 100%;
    height: auto;
}

nav .navbar-nav>.disabled>a {
    color: rgba(95, 95, 95);
    font-family: 'Roboto Slab', serif;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-family: 'Roboto Slab', serif;
}

/* home */

.homeText {
    float: left;
    width: 100%;
}

.projektbox {
    float: right;
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 10%;
    width: 70%;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-align: left;
}

.textUeberschrift {
    padding-top: 50px;
}

/*Tahmen Container*/

.col-12 {
    padding: 0px;
}

/*Projekte*/

.projektTitel1 {
    text-align: center;
    
}

.projektTitel2 {
    text-align: center;
    margin-top: 8%;
    padding: 5%;
}

.projektTitel {
    text-align: center;
    padding: 5%;
    padding-top: 10%;
    
}

.projektTexthaufen {
    max-width: 100%;
    height: auto;
    padding-top: 3%;
}

.projektTexthaufen6 {
    max-width: 50%;
    padding-left:10%;
    height: auto;
    padding-top: 3%;
}

.projTitelBild {
    display: block;
    width: 96%;
    height: auto;
}

.information {
    padding-top: 10%;
    padding-bottom: 10%;
}

/*video*/

.center {
    margin: 0 auto;
    width: 80%;
    
}

.centerVideo {
    margin: 0 auto;
    width: 65%;
    height: 650px; 
}

#figmaImport {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

iframe {
    align-self: center;
}

.align-center {
    text-align: center;
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-image: url("bild5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    min-height: 500px;
    background-attachment: fixed;
    background-image: url("skizze.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.projWireframes{
    width: 80%;
    height: auto;
}


.tryit{
    text-align: center;
    padding-top: 2%;
    width: 30%;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
}

/* col-6 */

/* .rechts6{
    margin-right:17,5%;
} */

.links6{
    padding-left:17,5%;
}

/*smartphone*/

@media only screen and (max-width:1000px) {
    h1 {
        padding-top: 10%;
        font-size: 32.81px;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
    .jumbotron {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-toggler {
        border-radius: 0%;
    }
    .navbar-brand {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 40px;
    }
    .ml-auto2, .mx-auto {
        /* margin-left: 10%;
         margin-right: 10%; */
        margin-left: 15%;
        margin-right: 0%;
        margin-top: 0px;
        transition: 0.4s;
    }
    .projektbox {
        width: 100%;
        height: 200px;
        border-width: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 50%;
        margin-bottom: 10px;
    }
    .title {
        padding-left: 16px;
    }
    .textFaehigkeiten {
        padding-left: 16px;
    }
    .container {
        margin: 0%;
        padding: 0%;
        max-width: 100%;
    }
    .text {
        margin-right: 2%;
    }
    #projekt1 {
        background-image: url("bild2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #projekt2 {
        background-image: url("bild3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #projekt3 {
        background-image: url("bild4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .information {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .hide {
        display: none;
    }
    /*auch für mailbutton*/
    .nextButton {
        text-align: center;
        width: 50%;
        border-style: solid;
        border-width: 2px;
        margin: 25%;
    }
    .portrait {
        margin-top: 0.625rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
    .aboutMe {
        margin-top: 0.625rem;
        margin-left: 0.625rem;
    }
    .skill {
        margin-top: 0.625rem;
        margin-left: 0.625rem;
    }
    .background1 {
        width: 100%;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild2sm.jpg");
    }
    .background2 {
        width: 100%;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild4sm.jpg");
    }
}

@media only screen and (min-width:1000px) {
    .jumbotron {
        height: 900px;
        background-size: cover;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-brand {
        padding-left: 125px;
        padding-top: 20px;
        font-size: 40px;
    }
    .navbar-nav {
        /* width: auto; */
        padding-right: 0.75rem;
    }
    #navbarCol {
        transition: 0.3s;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        transition: 0.4s;
        /*  margin-right: -1%; */
    }
    .ml-auto2, .mx-auto {
        margin-left: 15%;
        margin-right: 0%;
        margin-top: -50%;
    }
    .title {
        padding-top: 10rem;
    }
    .boxcontainer {
        padding-top: 10rem;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%; 
        /* padding-left: 20%;
        padding-right: 20%;  */

    }
    /*auch für mailbutton */
    .nextButton {
        text-align: center;
        width: 40%;
        border-style: solid;
        border-width: 2px;
    }
    .portrait {
        margin-top: 6.25rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
    .aboutMe {
        margin-top: 10.625rem;
    }
    .skill {
        margin-top: 3.625rem;
        margin-left: 0.625rem;
    }
    .background1 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild2.jpg");
        min-height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background2 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild4.jpg");
        min-height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Macbook*/

@media only screen and (min-width:1210px) {
    .jumbotron {
        height: 900px;
        background-size: cover;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-brand {
        padding-left: 125px;
        padding-top: 20px;
        font-size: 40px;
    }
    .navbar-nav {
        /* width: 100%; */
        padding-right: 0.75rem;
    }
    #navbarCol {
        transition: 0.3s;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        transition: 0.4s;
        /*  margin-right: -1%; */
    }
    .ml-auto2, .mx-auto {
        margin-left: 30%;
        margin-right: 0%;
    }
    .title {
        padding-top: 10rem;
    }
    .boxcontainer {
        padding-top: 10rem;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
    }
    .portrait {
        margin-top: 6.25rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
    .aboutMe {
        margin-top: 15.625rem;
    }
    .skill {
        margin-top: 6.25rem;
        margin-left: 0.625rem;
        margin-bottom: 6.25rem;
    }
    .background1 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild2.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background2 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild4.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*big stuff*/

@media only screen and (min-width:1900px) {
    .jumbotron {
        background-size: cover;
    }
    nav ul {
        padding-right: 0px;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        margin-right: 0%;
        transition: 0.4s;
    }
    .navbar-nav {
        width: 100%;
    }
    #navbarCol {
        transition: 0.3s;
    }
    .ml-auto2, .mx-auto {
        margin-left: 36%;
        margin-right: 10%;
    }
    .portrait {
        margin-top: 6.25rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
    .aboutMe {
        margin-top: 15.625rem;
    }
    .skill {
        margin-top: 6.25rem;
        margin-left: 0.625rem;
        margin-bottom: 6.25rem;
    }
    .background1 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild2.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background2 {
        width: 100%;
        background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild4.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/*scroll spy*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

*, *::after, *::before {
  box-sizing: border-box;
}

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
  
    /* Dimensions */
    width: 100%;
    height: .25em;
  
    /* Reset the apperance */  
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
  
    /* For Firefox/IE10+ */
    /* background-color: rgba(15, 18, 23, 0.4); */
    background-color: rgba(15, 18, 23, 1);
  
    /* For IE10+, color of the progress bar */
    color: rgb(255, 216, 74);

    z-index: 10;
  }
  
  progress::-webkit-progress-bar {
    background-color: transparent;
  }
  
  .flat::-webkit-progress-value {
    background-color: rgb(255, 216, 74);
  }
  
  .flat::-moz-progress-bar {
    background-color: rgb(255, 216, 74);
  }
  
  .single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, rgb(255, 216, 74));
  }
  
  .single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, rgb(255, 216, 74));
  }
  
  .multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
                        -webkit-linear-gradient(left, rgb(255, 216, 74), rgb(255, 216, 74));
  }
  
  .multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
                        -moz-linear-gradient(left, rgb(255, 216, 74), rgb(255, 216, 74));
  }
  
  .progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
  }
  
  .progress-bar {
    background-color: rgb(255, 216, 74);
    width: 50%;
    display: block;
    height: inherit;
  }
    
  /*scroll spy*/





  /* versuch  */

  #videosList {
  max-width: 100%; 
  overflow: hidden;
 
}



.thevideo{
    width: 50%;
    height: auto;
    
    
}

.down{
    margin-top: 50px;
}

.down2{
    margin-top: 100px;
}

/* Hide Play button + controls on iOS */
/* video::-webkit-media-controls {
    display:none !important;
} */




.parent {
    position: relative;
    

  }
  .image1 {
    position: relative;
   
  }
  .image2 {
    position: absolute;
    
  }