:root{
    font-size: 16px;
}

body {
    /* background-color: #242e37; */
    color: white;
    transition: background-image 0.5s linear;
    background-color: #0F1217;
    margin: 0;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1px solid rgb(253, 247, 247);
}



/*große Überschrift*/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 2.441rem;
    padding-bottom: 5%;
}

/*Projekt name */

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.953rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 23px;
}

/*unter Überschrift */

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.563rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -.022em;
}

/*Überschrift beschreibung*/

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -.022em;
}

/*Fließtext*/

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 24px;
    margin: 24px;
}
/* p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: white;
    letter-spacing: .02em;
} */

h5 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.47059;
    letter-spacing: -.022em;
    margin-top: 5%;
    color: white;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-fluid {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    width: 500px;
    height: auto;
}

/* Navbar*/

.navbar-nav {
    text-align: right;
}

nav ul li {
    padding-right: 20px;
}

nav ul li a {
    color: rgb(167, 164, 164);
    font-size: 20px;
}

nav .navbar-nav>.active>a {
    color: #FFD74A
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: #FFD74A;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 216, 74);
    font-family: 'Roboto Slab', serif;
}

.navbar-nav .nav-item:hover .nav-link-disable {
    color: rgba(95, 95, 95);
    font-family: 'Roboto Slab', serif;
}

.nav-link {
    display: block;
    padding: 0;
}

.portrait {
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.aboutMe {
    margin-top: 250px;
}

nav .navbar-nav>.disabled>a {
    color: rgba(95, 95, 95);
    font-family: 'Roboto Slab', serif;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-family: 'Roboto Slab', serif;
}

/* home */

.homeText {
    float: left;
    width: 100%;
}

.projektbox {
    float: right;
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 10%;
    width: 70%;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-align: left;
}

.textUeberschrift {
    padding-top: 50px;
}

/*Tahmen Container*/

.background1 {
    width: 100%;
    background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2 {
    width: 100%;
    background-image: linear-gradient(rgba(36, 46, 55, 0.5), rgba(36, 46, 55, 0.5)), url("bild4.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-12 {
    padding: 0px;
}

/*Projekte*/

.projektTitel1 {
    text-align: center;
}

.projektTitel2 {
    text-align: center;
    margin-top: 8%;
    padding: 5%;
}

.projektTitel {
    text-align: center;
    padding: 5%;
}

.projektTexthaufen {
    max-width: 100%;
    height: auto;
    padding-top: 3%;
}

.projTitelBild {
    display: block;
    width: 96%;
    height: auto;
}

.information {
    padding-top: 10%;
    padding-bottom: 10%;
}

/*video*/

.center {
    margin: 0 auto;
    width: 60%;
}

#figmaImport {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

iframe {
    align-self: center;
}

.align-center {
    text-align: center;
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-image: url("bild5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*smartphone*/

@media only screen and (max-width:995px) {
    h1 {
        padding-top: 10%;
        font-size: 32.81px;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
    .jumbotron {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-toggler {
        border-radius: 0%;
    }
    .navbar-brand {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 40px;
    }
    .ml-auto2, .mx-auto {
        /* margin-left: 10%;
         margin-right: 10%; */
        margin-left: 15%;
        margin-right: 0%;
        margin-top: 0px;
        transition: 0.4s;
    }
    .projektbox {
        width: 100%;
        height: 200px;
        border-width: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
    .title {
        padding-left: 16px;
    }
    .textFaehigkeiten {
        padding-left: 16px;
    }
    .container {
        margin: 0%;
        padding: 0%;
        max-width: 100%;
    }
    .text {
        margin-right: 2%;
    }
    #projekt1 {
        background-image: url("bild2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #projekt2 {
        background-image: url("bild3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #projekt3 {
        background-image: url("bild4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .information {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .hide {
        display: none;
    }
    .nextButton {
        text-align: center;
        width: 70%;
        border-style: solid;
        border-width: 2px;
        margin: 15%;
    }
}

@media only screen and (min-width:995px) {
    .jumbotron {
        height: 600px;
        background-size: cover;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-brand {
        padding-left: 125px;
        padding-top: 20px;
        font-size: 40px;
    }
    .navbar-nav {
        width: auto;
    }
    #navbarCol {
        transition: 0.3s;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        transition: 0.4s;
        margin-right: -1%;
    }
    .ml-auto2, .mx-auto {
        margin-left: 15%;
        margin-right: 0%;
    }
    .title {
        padding-top: 10rem;
    }
    .boxcontainer {
        padding-top: 10rem;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 20%;
        padding-right: 20%;
    }
  
}

/* Macbook*/

@media only screen and (min-width:1200px) {
    .jumbotron {
        height: 600px;
        background-size: cover;
    }
    nav ul {
        padding-right: 0px;
    }
    .navbar-brand {
        padding-left: 125px;
        padding-top: 20px;
        font-size: 40px;
    }
    .navbar-nav {
        width: 100%;
    }
    #navbarCol {
        transition: 0.3s;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        transition: 0.4s;
        margin-right: -1%;
    }
    .ml-auto2, .mx-auto {
        margin-left: 30%;
        margin-right: 0%;
    }
    .title {
        padding-top: 10rem;
    }
    .boxcontainer {
        padding-top: 10rem;
    }
    .projektTexthaufen {
        text-align: left;
        padding-left: 20%;
        padding-right: 20%;
    }
  
}

/*big stuff*/

@media only screen and (min-width:3000px) {
    nav ul {
        padding-right: 0px;
    }
    #navbarNav {
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        margin-right: 0%;
        transition: 0.4s;
    }
    .navbar-nav {
        width: 100%;
    }
    #navbarCol {
        transition: 0.3s;
    }
    .ml-auto2, .mx-auto {
        margin-left: 36%;
        margin-right: 10%;
    }
}